<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Numans');

        html,body{
            background-image: url(/images/user-background.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            font-family: 'Numans', sans-serif;
        }

        .container{
            height: 100%;
            align-content: center;
        }

        .card{
            height: 420px;
            margin-top: auto;
            margin-bottom: auto;
            width: 400px;
            background-color: rgba(0,0,0,0.5) !important;
        }

        .social_icon span{
            font-size: 60px;
            margin-left: 10px;
            color: #FFC312;
        }

        .social_icon span:hover{
            color: white;
            cursor: pointer;
        }

        .card-header h3{
            color: white;
        }

        .social_icon{
            position: absolute;
            right: 20px;
            top: -45px;
        }

        .input-group-prepend span{
            width: 50px;
            background-color: #FFC312;
            color: black;
            border:0 !important;
        }

        input:focus{
            outline: 0 0 0 0  !important;
            box-shadow: 0 0 0 0 !important;

        }

        .remember{
            color: white;
        }

        .remember input
        {
            width: 20px;
            height: 20px;
            margin-left: 15px;
            margin-right: 5px;
        }

        .login_btn{
            color: black;
            background-color: #FFC312;
            width: 100px;
        }

        .login_btn:hover{
            color: black;
            background-color: white;
        }

        .links{
            color: white;
        }

        .links a{
            margin-left: 4px;
        }

        .dropdown-text {
            text-align: left;
            padding: 6px 10px 6px 4px;
            font-weight: 600;
            color: #ffffff;
            background-color: transparent;
            width: 110px;
            vertical-align: middle
        }


    </style>

    <title>Create New Beer</title>

    <meta charset="UTF-8">
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          rel="stylesheet" id="bootstrap-css">


    <!--Custom styles-->



</head>
<body>

<p>
<div class="text-center text-white">
    <i th:if="${error != null}" th:text="${error}" class="error"></i>
</div>
</p>


<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Create a beer</h3>
                <div class="d-flex justify-content-end social_icon">
                </div>
            </div>
            <div class="card-body">
                <form method="post" th:action="@{/edit-beer/{id}(id=${beer.ID})}" th:object="${beer}"
                      enctype="multipart/form-data">

                    <div class="input-group form-group">
                        <input type="text" th:field="${beer.name}" class="form-control" placeholder="Beer name">
                    </div>

                    <div class="input-group form-group">
                        <input type="text" name="description" th:field="${beer.description}"
                               class="form-control" placeholder="Description">
                    </div>

                    <div class="input-group form-group">
                        <input type="text" name="abv" th:field="${beer.abv}"
                               class="form-control" placeholder="ABV">
                    </div>

<!--                    <div class="dropdown-text">Style:</div>-->
<!--                    <select th:field="${beer.style}">-->
<!--                        <option th:each="style: ${styles}"-->
<!--                                th:value="${style.getID() }"-->
<!--                                th:text="${style.getName()}">BeerStyleOne-->
<!--                        </option>-->
<!--                    </select>-->

<!--                    <div class="dropdown-text">Brewery:</div>-->
<!--                    <select th:field="${beer.brewery}">-->
<!--                        <option th:each="brewery: ${breweries}"-->
<!--                                th:value="${brewery.getID() }"-->
<!--                                th:text="${brewery.getName()}">Brewery-->
<!--                        </option>-->
<!--                    </select>-->

<!--                    <div class="dropdown-text">Tag:</div>-->
<!--                    <select th:field="${beer.tags}">-->
<!--                        <option th:each="tag: ${tags}"-->
<!--                                th:value="${tag.getID() }"-->
<!--                                th:text="${tag.getName()}">Tag-->
<!--                        </option>-->
<!--                    </select>-->

                    <div class="form-group">
                        <div class="d-flex justify-content-center links">Upload beer picture:</div>
                        <input type="File" name="aFile">
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Update"
                               class="btn float-right login_btn">
                    </div>
                </form>
            </div>

            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Go back to Homepage?<a th:href="@{/}">Cancel</a>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>